.m-homepage__shortcuts {
  display: inline-flex;
  justify-content: center; /* Adjust alignment as needed */
  align-items: center;
  margin-top: 24px;
}

.m-homepage__shortcut {
  flex: 1;
  background-color: #fff;
  border: 1px solid #e9eaed;
  border-radius: .5rem;
  color: #1c1e23;
  margin: 0 10px; /* Add margin to create spacing between boxes */
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 200px; /* Adjust the height as needed */
  width: 200px;
}





    
  
  
    
    
   
   

    

 
  
  