  
.m-homepage__shortcuts {
column-gap: 3.125%;
display: grid;
grid-template-columns: repeat(5,1fr);
grid-template-rows: 1;
justify-items: stretch;
margin-top: 24px;
  
}

  .m-homepage__shortcut {
    background-color: #fff;
    border: 1px solid #e9eaed;
    border-radius: .5rem;
    color: #1c1e23;
    display: inline-block;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.275em;
    padding: 1rem;
    text-align: center;
    }
    
  
  .m-tabbed-nav__content {
    
   background-color: #f2f3f5;
   padding: 2.5em 4em;
   display: block;
   
}
    
    
   
   

    

 
  
  